.formulario{
    display: flex;
    justify-content: center;
   
    background-color:gray;
}
.formulario h2{
    margin-bottom: 30px;
    font-size: 20px;
}
.formulario form{
    max-width: 80%;
    padding: 36px 64px;
    border-radius: 20px;
}
@media screen and (min-width:1040px) {

         .formulario h2{
            font-size: 30px;
         }
}
