
.header {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 0 0;
    background-color: var(--principal-color);

}

.alt {
    visibility: hidden;
}

.lista {
    position: absolute;
    left: 0;
    padding-left: 10px;
    color: transparent;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista.on {
    z-index: 1;
    position: absolute;
    padding: 10px;
    color: aliceblue;
    align-items: flex-start;
    width: 30%;
    height: 300px;
    backdrop-filter: blur(10px);
    transition: 0.2s;
    border-radius: 0 0 100px;
    
}
.lista.on .menu .lista__lista{
    opacity: 1;
    pointer-events:all
}

.lista__lista {
    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: 1s;
    font-size: 20px;
    font-weight: 700;
    padding-top: 8px;

}

.lista__lista a {
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}

.menu ul li {
    list-style: none;

}

.header .logo {
    background-image: url(./logo.png);
    width: 90px;
    height: 60px;
    background-size: 150px;
    background-position: center;
    margin-top: 8px;
    filter: brightness(1000%);
}

.menu .types-of-furnishings {
    display: flex;
    gap: 6px;
    flex-direction: column;
    width: 150px;
    padding: 12px;
    z-index: 1;

}

@media screen and (min-width:600px) {

    .lista {
        position: relative;
        justify-content: center;
    }

    .menu ul {
        display: flex;
        gap: 50px;
        justify-content: center;
        color: aliceblue;
        position: relative;
    }

    .menu ul li {
        list-style: none;

    }

    .header .logo {
        top: 0;
    }

    .header {
        justify-content: flex-start;
        flex-direction: row-reverse;
        padding: 0 0 0 10px;
    }

    .lista {
        position: relative;
        background-color: var(--principal-color);
        width: 100%;
        justify-content: center;
    }

    .lista__lista {
        flex-direction: row;
    }
    .menu .types-of-furnishings {
        display: flex;
        flex-direction: column;
        width: 150px;
        padding: 20px;
        position: absolute;
        z-index: 1;
        background-color: var(--principal-color);
        transition: .7s;
        opacity: 0;
        gap: 12px;
    }
    .types-of-furnishings.open{
        opacity:1;
    }

}

@media screen and (min-width:1040px) {
    .header {
        justify-content: center;
    }

    .menu ul li {
        font-size: 1.7rem;
    }

    .header .logo {
        filter: blur(50%);
    }
    .lista__lista {
        opacity: 1;
    }

}